@import url('https://fonts.googleapis.com/css2?family=Karla:wght@400;700&display=swap');

*
{
    box-sizing: border-box;
    padding: 0;
    margin: 0;
}

body
{
    font-family: Karla;
}

header
{
    display: flex;
    justify-content: space-between;
    align-items: center;
    background-color:;
    height: 5vh;
    margin: 10px 0 10px 0;
}

#logo
{
    margin:  0 0 0 5%;
}

#nav-bar
{
    margin:  0 5% 0 0;
    width: 400px;
    background-color:;
}

#nav-bar ul
{
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.nav-links
{
    text-decoration: none;
    color: black;  
    margin: 0 5px 0 5px; 
}

.plans
{
    border-style: solid;
    padding: 10px;
}

/****MAIN****/
main
{
    background-color: hsl(256, 26%, 20%);
    min-height: 80vh;
    position: relative;
    display: flex;
    align-items: center;
}

/*main::after
{
    content: '';
    background-image: url("images/bg-pattern-intro-right-desktop.svg");
    background-repeat: no-repeat;
    background-position: top right;
    position: absolute;
    top: 0;
    right: 0;
    height: 100vh;
    width: 100vw;
}*/

.intro
{
    
    max-width: 550px;
    width: 40vw;
    margin: 0 0 0 10%;
    color: white;
}

.intro h1
{
    margin: 5% 0;
    font-size: 50px;
}

#viewPlansBtn
{
    display: inline-block;
    border-style: solid;
    padding: 10px;
    margin: 5% 0;
    text-decoration: none;
    width: 30%;
    text-align: center;
    color:white;
}

#intro-img
{
    width: 40vw;
    position: absolute;
    top: 10%;
    right: 7%;
}

/**************section*************/
section
{
    margin: 15% 0 0 10px;
}

section h1
{
    font-size: 50px;
    margin: 20px 0 5% 5.85%;    
}

#reasons
{
    display: flex;
    justify-content: space-evenly;
}

.reasonBoxs
{
    width: 25vw;

}

.reasonBoxs h3
{
    margin: 5% 0 5% 0;
}


/*********************/
#findOutMore
{
    background-color: hsl(256, 26%, 20%);
    display: flex;
    justify-content: space-between;
    align-items: center;
    min-height: 30vh;
    margin: 10% 0 10% 0;
}

#divh1
{
    color: white;
    min-width: 350px;
    width: 35vw;
    margin: 0 0 0 5%;
}

#divh1 > h1
{
    font-size: 50px;
}

#howWeWorka
{
    display: inline-block;
    border-style: solid;
    padding: 10px;
    text-decoration: none;
    width: 20%;
    text-align: center;
    color:white;
    margin: 0 5% 0 0;
}


/******************footer******************/

footer
{
    margin: 0 0 0 10px;
}

#footerPt1
{
    display: flex;
    justify-content: space-between;
}

.social-icons
{
    margin: 0 5px 0 5px;
}

#footerPt2
{
    display: flex;
    margin: 0 0 20px 0;
}

.footerBoxs
{
    width: 25vw;
    display: flex;
    flex-direction: column;
}

.greyA
{
    margin: 20px 0 20px 0;
    text-decoration: none;
    color: hsl(273, 4%, 51%);
    
}
.footer-links
{
    margin: 5px 0 5px 0;
    text-decoration: none;
    color: black;
}
/**************************************************************************/

#toggleBtn
{
    position: absolute;
    display:none;
    flex-direction: column;
    justify-content: space-between;
    width: 30px;
    height: 21px;
    right: 10px;
}

.bar
{
    height: 3px;
    width: 100%;
    background-color: black;
    border-radius: 10px;
}

@media (max-width:768px)
{

    header
    {
        flex-direction: column;
    }

    #toggleBtn
    {
        display: flex;
    }

    #nav-bar
    {
        display: none;
        justify-content: flex-end;
        align-items: center;
        width: 100vw;
        margin: 0;
    }

    .nav-links
    {
        width: 100%;
    }

    #nav-bar ul
    {
        width: 100vw;
        flex-direction: column;
        text-align:center;
    }

    /*****************************Main****************************/

    

    .intro
    {   
        max-width: unset;
        width: 100%;
        margin: 0 0 0 0;
        display: flex;
        flex-direction: column;
        justify-content: center;
        align-items: center;
    }

    #intro-img
    {
        position: unset;
        
        width: 100%;
    }

    /*****************************Section**********************/

    section
    {
        margin: 30% 0 0 0;
    }
    section h1
    {
        text-align: center;
    }

    #reasons
    {
        flex-direction: column;
    }

    .reasonBoxs
    {
        width: 100%;
        text-align: center;
        margin: 0 0 5% 0;
        
    }

    /***********Find out more**************/

    #findOutMore
    {
        flex-direction: column;
        text-align: center;
        align-items: center;
        justify-content: unset;
    }

    #divh1
    {
        margin: 0 0 0 0;
    }

    #howWeWorka
    {
        margin: 5% 0 5% 0;
    }

    /****************************FOOTER*******************/

    footer
    {
        margin: 0 0 0 0;
    }

    #footerPt1
    {
        flex-direction: column;
        justify-content: center;
        align-items: center;
    }

    .social-icons
    {
        margin: 15px 5px 5px 15px;
    }

    #footerPt2
    {
        flex-direction: column;
    }

    .footerBoxs
    {
        width: 100%;
        align-items: center;
    }

    
    
    

}


